<a class="list-group-item"
  style="cursor: pointer"
  [routerLink]="[id]"
  routerLinkActive="active">
  <div class="row">
    <div class="col-8">
      <div>
        <h4>
          {{ recipe.name }}
        </h4>
        <p class="list-group-item-text">{{ recipe.desc }}</p>
      </div>
    </div>
    <div class="col-4">
      <div>
        <img [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-fluid">
      </div>
    </div>
  </div>
</a>
<ng-container *ngIf="!recipe">Loading...</ng-container>